server:
  port: 8002

spring:
  application:
    name: cloud-order

  cloud:
    stream:
      bindings:
        gaoyf:
          destination: gaoyf.exchange
          #group: gaoyf-group
          content-type: application/json
          binder: rabbit
        gaoyftwo:
          destination: gaoyf.exchange
          #group: gaoyf-group
          content-type: application/json
          binder: rabbit2
      binders:
        rabbit2:
          type: rabbit
          environment:
            spring:
              rabbitmq:
                host: 203.195.139.221
                port: 5672
                username: admin
                password: gyf123456
          defaultCandidate: false
      default-binder: rabbit2


  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: gyf123456


ribbon:
  ReadTimeout: 5000
  ConnectTimeout: 5000

payment-service:
  ribbon:
    NFLoadBalancerRuleClassName: com.netflix.loadbalancer.RandomRule

eureka:
  instance:
    prefer-ip-address: true
    instance-id: order-service8002
    lease-renewal-interval-in-seconds: 30 #发送续约的间隔
    lease-expiration-duration-in-seconds: 90 #续约超时多少秒剔除服务
  client:
    service-url:
      #defaultZone: http://eureka01:7001/eureka,http://eureka00:7000/eureka
      defaultZone: http://eureka00:7000/eureka

logging:
  level:
    com.atgaoyf.springclouud.IPaymentService: debug
